# Git
.git
.gitignore

# Mobile 
mobile/
node_modules/

# Python cache
__pycache__/
*.pyc

# Variables d'env (on les passe via docker-compose)
.env
.env.local
.venv/
venv/

# IDE
.vscode/
.idea/

# Docker 
Dockerfile
docker-compose.yml
.dockerignore

# Datasets (trop lourd, inutile dans l'image)
dataset_tenuecheck/
alerts/