# ENSITECH - Système de Contrôle du Code Vestimentaire
# Dépendances Python

# Framework web
flask>=2.3.0

# Vision par ordinateur
opencv-python>=4.8.0
opencv-python-headless>=4.8.0

# Deep Learning - YOLO
ultralytics>=8.0.0

# Deep Learning - Classification vetements (Fashion-MNIST)
# PyTorch est deja installe avec ultralytics
scikit-learn>=1.3.0
matplotlib>=3.7.0

# Traitement d'images et calculs
numpy>=1.24.0
Pillow>=10.0.0

# Utilitaires
python-dotenv>=1.0.0

# Pour l'entraînement
PyYAML>=6.0
tqdm>=4.65.0
